.now-playing-movies .card{
    padding: 0;
}
.now-playing-movies .card{
  cursor: pointer;
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-decoration: none;
}
.now-playing-movies .card:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.477);
}
.now-playing-movies .card .card-body{
  text-align: center;
  max-height: 64px;
}
.now-playing-movies .card .card-body .card-title{
  white-space:pre;
  overflow:hidden;
  text-overflow: ellipsis;
}
.now-playing-movies .card .card-body{
  text-align: center;
}
.now-playing-movies .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.now-playing-movies .overplay-details{
  position: relative;
  height: 100%;
}
.now-playing-movies .poster-title {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 10px;
}
.now-playing-movies .poster-vote{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 85%;
  left: 10px;
}
.now-playing-movies .imdb{
  background-color: #f3ce13;
  color: black;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 10px;
}

/* @media only screen and (max-width: 1200px){
  .now-playing-movies .overlay{
    display: none;
  }
} */